@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

span:first-child {
  font-size: 50px;
  font-family: "Piazolla", sans-serif;
  color: #d1870f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

span:nth-of-type(2n) {
  font-size: 50px;
  font-family: "Ceviche One", sans-serif;
  color: rgb(5, 138, 237);
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
}

span:nth-of-type(5) {
  font-size: 72px;
  font-family: "Slackey", sans-serif;
  color: #f5e42f;
  font-weight: bold;
  text-decoration: line-through;
}

span:nth-of-type(7) {
  font-size: 60px;
  font-family: "Lacquer", system-ui;
  color: rgb(85, 212, 28);
  font-weight: 400;
  text-decoration: line-through;
}

span:nth-of-type(3n) {
  font-size: 36px;
  font-family: "Barrio", system-ui;
  color: #c21717;
  font-weight: 900;
  text-decoration: overline;
  text-transform: uppercase;
}

/* Sample CSS for the WHY word */

.word .whyWLetter {
  font-size: 72px;
  color: aqua;
}

.word .whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
}

.word .whyYLetter {
  font-size: 60px;
  color: coral;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.word .didDLetter {
  font-size: 50px;
}

.word .didILetter {
  font-weight: 900;
  font-family: "Raleway Dots", sans-serif;
}

.word .didDTwoLetter {
  color: #ede905;
}

/* THE word */

.word .theTLetter {
  font-family: "Kablammo", system-ui;
}

.word .theHLetter {
  font-size: 52px;
}

.word .theELetter {
  font-size: 60px;
}

/* FRONT-END word */

.word .frontendFLetter {
  color: rgb(248, 36, 255);
}

.word .frontendRLetter {
  text-transform: uppercase;
}

.word .frontendOLetter {
  font-family: "Kablammo", system-ui;
  font-size: 54px;
}

.word .frontendNLetter {
  color: #24ff45;
}

.word .frontendTLetter {
  font-weight: 100;
}

.word .frontendELetter {
  font-weight: 700;
}

.word .frontendNTwoLetter {
  color: #ffaf24;
  text-transform: uppercase;
}

.word .frontendDLetter {
  font-size: 68px;
  font-family: "Kablammo", system-ui;
}

/* DEVELOPER word */

.word .developerDLetter {
  text-decoration: line-through;
  font-family: "Raleway Dots", sans-serif;
}
.word .developerELetter {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 70px;
}
.word .developerVLetter {
  font-size: 60px;
}
.word .developerETwoLetter {
  color: #000000;
}
.word .developerLLetter {
  text-transform: uppercase;
}
.word .developerOLetter {
  font-size: 24px;
  color: rgb(91, 36, 255);
}
.word .developerPLetter {
  font-size: 70px;
  font-weight: 400;
}
.word .developerEThreeLetter {
  font-weight: 100;
  font-family: "Raleway Dots", sans-serif;
}
.word .developerRLetter {
  font-weight: 200;
  font-size: 40px;
}

/* TAKE word */

.word .takeTLetter {
  color: rgb(91, 36, 255);
}
.word .takeALetter {
  font-family: "Kablammo", system-ui;
  color: #f5e42f;
}
.word .takeKLetter {
  font-size: 50px;
}
.word .takeELetter {
  text-transform: uppercase;
}

/* UP word */

.word .upULetter {
  font-weight: normal;
}
.word .upPLetter {
  text-transform: uppercase;
}

/* GARDENING word */

.word .gardeningGLetter {
  color: #24ff45;
}
.word .gardeningALetter {
  font-family: "Kablammo", system-ui;
  text-transform: uppercase;
}
.word .gardeningRLetter {
  font-weight: 200;
}
.word .gardeningDLetter {
  color: rgb(248, 36, 255);
}

/* Letting the nth-child classes do the work from here */

/* .word .gardeningELetter {

}
.word .gardeningNLetter {

}
.word .gardeningILetter {
}
.word .gardeningNTwoLetter {
}
.word .gardeningGTwoLetter {
}

/* BECAUSE word 

.word .becauseBLetter {
}
.word .becauseELetter {
}
.word .becauseCLetter {
}
.word .becauseALetter {
}
.word .becauseULetter {
}
.word .becauseSLetter {
}
.word .becauseETwoLetter {
}

/* THEY word 

.word .theyTLetter {
}
.word .theyHLetter {
}
.word .theyELetter {
}
.word .theyYLetter {
}

/* WANTED word 

.word .wantedWLetter {
}
.word .wantedALetter {
}
.word .wantedNLetter {
}
.word .wantedTLetter {
}
.word .wantedELetter {
}
.word .wantedDLetter {
}

/* TO word 

.word .toTLetter {
}
.word .toOLetter {
}

/* IMPROVE word 

.word .improveILetter {
}
.word .improveMLetter {
}
.word .improvePLetter {
}
.word .improveRLetter {
}
.word .improveOLetter {
}
.word .improveVLetter {
}
.word .improveELetter {
}

/* THEIR word 

.word .theirTLetter {
}
.word .theirHLetter {
}
.word .theirELetter {
}
.word .theirILetter {
}
.word .theirRLetter {
}

/* ROOT word 

.word .rootRLetter {
}
.word .rootOLetter {
}
.word .rootOTwoLetter {
}
.word .rootTLetter {
}

/* SKILLS word 

.word .skillsSLetter {
}
.word .skillsKLetter {
}
.word .skillsILetter {
}
.word .skillsLLetter {
}
.word .skillsLTwoLetter {
}
.word .skillsSTwoLetter {
}

/* SYMBOLS */

.word .hyphen {
  font-size: 80px;
  text-decoration: none;
}
/* SINGULAR STYLES */

.word .overline {
  text-decoration: overline;
}

.word .underline {
  text-decoration: underline;
}

.word .linethrough {
  text-decoration: line-through;
}

.word .empty {
  text-decoration: none;
}
